/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1920px) { 
	.container{
		max-width: 1650px;
	}
}
@media (min-width: 1600px) and (max-width: 1919.98px){
	html{
		font-size: 57%;
	}
	.container{
		max-width: 1490px;
	}
}
@media (min-width: 1366px) and (max-width: 1599.98px){
	html{
		font-size: 50%;
	}
	.container{
		max-width: 1300px;
	}
}
@media (min-width: 1200px) and (max-width: 1365.99px){
	html{
		font-size: 44%;
	}
	.container{
		max-width: 1140px;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px){
	html{
		font-size: 39%;
	}
	.container{
		max-width: 980px;
	}
}
@media (min-width: 768px) and (max-width: 991.98px){
	.container{
		max-width: 720px;
	}
}
@media (max-width: 991.98px) {
	html{
		font-size: 60%;
	}
	header .container>div{
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	header.sticky {
	    padding: 2rem 0;
	}
	header::before{
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: -1;
	}
	body{
		font-size: 2.2rem;
	}
	.menu_wrapper {
	    position: fixed;
	    top: 0;
	    height: 100vh;
	    width: 100%;
	    left: -100%;
	    background-color: #fff;
	    z-index: -2;
	    -webkit-transition: 0.3s;
	    -o-transition: 0.3s;
	    transition: 0.3s;
	    display: block;
	    padding-top: 20rem;
	    overflow: auto;
	    padding-bottom: 3rem;
	 }
	.menu_wrapper.current{
		left: 0;
	}
	.hamburger-menu {
		display: block;
	}
	.menu {
	    display: block;
	    overflow: auto;
	    width: 54rem;
	    margin-left: auto;
	    margin-right: auto;
	}
	.search_form {
	    max-width: 54rem;
	    margin-left: auto;
	    margin-right: auto;
	}
	.search_form input{
		height: 5.5rem;
	}
	.search_form button{
		width: 5.5rem;
	}
	.menu>ul{
		display: block;
		margin-bottom: 3rem;
	}
	.menu>ul>li{
		padding: 0;
		margin-left: 0;
	}
	.menu>ul>li>a{
	    padding: 1.8rem 0 !important;
	}
	.menu>ul li:not(:last-child){
		border-bottom: 0.1rem solid rgba(112, 112, 112, 0.2);
	}
	.menu>ul li>a{
		width: 100%;
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.menu>ul li.dropdown_wrap:hover>a {
	    color: var(--dark_blue) !important;
	}
	.menu>ul>li.dropdown_wrap>a::after{
		position: absolute;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	.menu>ul>li.dropdown_wrap>ul {
		padding-bottom: 0;
	}
	.menu>ul>li>a {
	    font-size: 2.5rem;
	    font-weight: 500;
	}
	.menu>ul li.dropdown_wrap{
		padding-left: 0;
		padding-right: 0;
		-webkit-box-shadow: none !important;
		        box-shadow: none !important;
	}
	.menu>ul li.dropdown_wrap>ul {
	    -webkit-transition: none;
	    -o-transition: none;
	    transition: none;
	    opacity: 1;
	    pointer-events: all;
	    width: 100%;
	    left: 0;
	    position: relative;
	    display: none;
	    -webkit-box-shadow: none;
	            box-shadow: none;
	}
	.menu>ul li.dropdown_wrap>ul>li.dropdown_wrap ul {
	    background-color: var(--dark_blue);
	    top: 0;
	    left: 0;
	}
	.menu>ul li.dropdown_wrap:hover {
	    background-color: transparent;
	}
	.menu>ul li.dropdown_wrap>ul>li>a{
		font-size: 2.3rem;
		color: var(--dark_blue);
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
	.menu>ul>li.dropdown_wrap>ul>li>a:hover,
	.menu>ul>li.dropdown_wrap>ul>li.active>a{
		color: var(--green);
	}

	.menu>ul li.dropdown_wrap>ul>li>a::after {
	    -webkit-transform: rotate(0deg);
	        -ms-transform: rotate(0deg);
	            transform: rotate(0deg);
	    display: inline-block;
	    margin-left: 1.5rem;
	    top: 0;
	}

	.five_col>div,
	.footer_item  {
	    max-width: 50%;
	    -webkit-box-flex: 0;
	        -ms-flex: 0 0 50%;
	            flex: 0 0 50%;
	}
	.footer_item:last-child  {
	    max-width: 100%;
	    -webkit-box-flex: 0;
	        -ms-flex: 0 0 100%;
	            flex: 0 0 100%;
	}
	.focus_box p {
		max-width: 100%;
	}
	footer ul{
		line-height: inherit;
	}
	.feature_box {
	    max-width: 100%;
	    position: relative;
	    bottom: 0;
	    right: auto;
	    margin-top: 4rem;
	}
	.home_area{
		padding: 5rem 0;
	}
	.home_area h1 {
	    font-size: 8rem;
	}
	.artical_area h1 {
	    font-size: 5rem;
	}

	
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767.98px) {
	html{
		font-size: 43%;
	}
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575.98px) {
	html{
		font-size: 1.7vw;
	}
	.container{
		padding-left: 3.5rem;
		padding-right: 3.5rem;
	}
	.five_col>div, .footer_item {
	    max-width: 100%;
	    -webkit-box-flex: 0;
	        -ms-flex: 0 0 100%;
	            flex: 0 0 100%;
	}
	.feature_body{
		display: block;
	}
	.news_content h4 {
	    font-size: 3rem;
	    max-width: 40rem;
	}
	.menu,
	.search_form {
	    width: 51rem;
	}
	.pagination{
		display: none;
	}
	.inner_home {
	    height: 35rem;
	}
	.filter_wrap ul li a {
	    padding: 1.2rem 2.9rem;
	}
	.share_wrap .link{
		margin-top: 3rem;
	}
	.inner_home.v2 {
	    min-height: 35rem;
	}
}