/*======================
   01.fonts
========================*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


:root{
	--green: #83BB26;
	--yellow: #f9af22;
	--light: #A7AFD6;
	--dark_blue: #10ac9e;
	--main-color:rgb(16 172 158);
}

/*======================
   02. Basic css
========================*/
::-moz-selection{
	background-color: var(--yellow);
	color: var(--dark_blue);
}
::selection{
	background-color: var(--yellow);
	color: var(--dark_blue);
}
html{
	font-size: 62.5%;
}
a, button, img{
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.44;
	font-family: "Source Sans 3", sans-serif;
	background-color: #fff;
	color: var(--dark_blue);
	font-weight: 400;
	font-size: 1.8rem;
}

ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}
p a{
	color: var(--yellow);
}
p a:hover{
	color: var(--dark_blue);
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus{
	outline: none;
}
h1, h2{
	font-size: 5rem;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
}
h3{
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
}
h3 span{
	color: var(--yellow);
}
main{
	padding-top: 18rem;
}

/* page loader  */
#preloader {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	height: 100vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.loader3 {
	width: 5.0rem;
	height: 5.0rem;
	display: inline-block;
	padding: .0rem;
	text-align: left;
}

.loader3 span {
	position: absolute;
	display: inline-block;
	width: 5.0rem;
	height: 5.0rem;
	border-radius: 100%;
	background: var(--yellow);
	-webkit-animation: loader3 1.5s linear infinite;
	animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
	animation-delay: -0.9s;
	-webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
  	0% {
    	-webkit-transform: scale(0, 0);
    	        transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	-webkit-transform: scale(1, 1);
    	        transform: scale(1, 1);
    	opacity: 0;
  	}
}

@-webkit-keyframes loader3 {
  	0% {
    	-webkit-transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	-webkit-transform: scale(1, 1);
    	opacity: 0;
  	}
}
/*Hamburger-menu START CSS*/
.hamburger-menu {
	cursor: pointer;
	display: none;
	z-index: 999;
	margin-left: 2rem;
	position: relative;
}
.hamburger-menu span {
	background: var(--dark_blue);
	width: 4rem;
	height: .4rem;
	display: block;
	margin: .55rem 0;
	border-radius: 2rem;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.hamburger-menu .line-top.current {
	-webkit-transform: translateY(245%) rotate(135deg);
	-ms-transform: translateY(245%) rotate(135deg);
	transform: translateY(245%) rotate(135deg);
}
.hamburger-menu .line-center.current {
	opacity: 0;
}
.hamburger-menu .line-bottom.current {
	-webkit-transform: translateY(-245%) rotate(-135deg);
	-ms-transform: translateY(-245%) rotate(-135deg);
	transform: translateY(-245%) rotate(-135deg);
}
.top_header{
	background-color: var(--main-color);
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1025;
}
.top_header .top_header_wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top_header_left{
	column-gap: 3rem;
	display: flex;
	align-items: center;
	position: relative;
	padding: 1.7rem 0;
	width: 40%;
}
.top_header_right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	padding: 1.7rem 0;
	width: 60%;
}
.top_header_left::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
	height: 100%;
    background: rgb(243,184,21);
    background: linear-gradient(to left, rgb(243,184,21) 0%, rgb(255,255,255,0) 100%);
	z-index: -1;
}
.bismillah {
    position: absolute;
    width: 16rem;
    left: 6%;
    top: 0;
}
.top_header_right::after {
    position: absolute;
    content: '';
    left: -2.9rem;
    top: 0rem;
    bottom: .0rem;
    border-top: 2.9rem solid transparent;
    border-right: 2.9rem solid var(--main-color);
    border-bottom: 2.9rem solid transparent;
}
.top_header .container a{
	color: #fff;
}
.top_header .icon_box a{
	color: #fff;
	font-size: 2rem;
}
.top_header .icon_box a:hover{
	color: var(--yellow);
}
header {
	position: absolute;
	top: 6rem;
	left: 0;
	z-index: 1024;
	width: 100%;
	background-color: #fff;
	padding: 1rem 0;
}

/*sticky START CSS*/
header.sticky {
   -webkit-box-shadow: 0 .8rem 2.0rem 0 rgba(0, 0, 0, .1);
   box-shadow: 0 .8rem 2.0rem 0 rgba(0, 0, 0, .1);
   padding: 1.5rem 0;
   position: fixed;
   top: 0;
}
.logo{
	display: block;
	width: 100%;
	max-width: 11rem;
}
/* header.sticky .logo{
	max-width: 10rem;
} */
.menu_wrapper {
	width: 100%;
	max-width: 132rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	}
.menu>ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.menu>ul>li {
   padding: 1.5rem 2.5rem;
   margin-left: 0.5rem;
}
.menu>ul>li>a {
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--dark_blue);
	line-height: 1;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu>ul>li.active>a:not(.button),
.menu>ul>li>a:not(.button):hover {
	color: var(--yellow) !important;
}
.menu>ul li.dropdown_wrap{
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.menu>ul li.dropdown_wrap:hover{
	background-color: #DBDEED;
}
.menu>ul li.dropdown_wrap:hover>a{
	color: var(--dark_blue) !important;
}
.menu>ul li.dropdown_wrap>a::after {
	content: '\f107';
	font-family: 'Font Awesome 5 Pro';
	margin-left: 0.5rem;
	font-size: 85%;
	position: relative;
	top: 0.2rem;
}
.menu>ul li.dropdown_wrap>ul {
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #DBDEED;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	opacity: 0;
	pointer-events: none;
}
.menu>ul li.dropdown_wrap:hover>ul{
	opacity: 1;
	pointer-events: all;
}
.menu>ul li.dropdown_wrap>ul>li>a{
	color: var(--dark_blue);
	font-size: 2.2rem;
	font-weight: 400;
	white-space: nowrap;
	padding: 1rem 2.5rem;
	display: block;
}
.menu>ul li.dropdown_wrap>ul>li>a::after {
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	display: inline-block;
	margin-left: 1.5rem;
	top: 0;
}
.menu>ul li.dropdown_wrap>ul>li:hover>a,
.menu>ul li.dropdown_wrap>ul>li.active>a{
	background-color: var(--dark_blue);
	color: #fff !important;
}
.menu>ul li.dropdown_wrap>ul>li.dropdown_wrap ul{
	background-color: var(--dark_blue);
	top: 0;
	left: 100%;
}
.menu>ul li.dropdown_wrap>ul>li.dropdown_wrap ul>li>a{
	color: #fff;
}
.menu>ul li.dropdown_wrap>ul>li.dropdown_wrap ul>li>a:hover,
.menu>ul li.dropdown_wrap>ul>li.dropdown_wrap ul>li>a.active{
	background-color: var(--yellow);
	color: var(--dark_blue) !important;
}
.search_form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 29rem;
}
.search_form input{
	padding: 0 2rem;
	color: var(--dark_blue);
	height: 4.4rem;
	border: .1rem solid #CDCDCD;
	border-radius: 0.3rem 0 0 0.3rem;
	border-right: none;
	width: 100%;
}
.search_form button{
	width: 4.4rem;
	text-align: center;
	border: none;
	background-color: var(--dark_blue);
	color: #fff;
	padding: 0;
	border-radius: 0 0.3rem 0.3rem 0;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}
.search_form button:hover{
	background-color: var(--green);
}
/*button*/
.button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-column-gap: 1.5rem;
	   -moz-column-gap: 1.5rem;
	        column-gap: 1.5rem;
	border:none;
	color: #FFFFFF;
	font-weight: 500;
	line-height: 1.33;
	text-align: center;
	font-size: 2.2rem;
	background-color: var(--dark_blue);
	padding: 1.3rem 2rem;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	border-radius: 0.3rem;
	min-width: 14rem;
}
.button i{
	font-size: 2.2rem;
}
.button:hover{
	color: #fff;
	background-color: var(--yellow);
}
.outline{
	background-color: transparent;
	border-color: #fff;
}
.outline:hover{
	border-color: var(--blue);
}
.black_btn{
	background-color: var(--dark_blue);
	color: #fff;
}
.black_btn:hover{
	background-color: var(--blue);
}
.yellow_btn{
	background-color: var(--yellow);
	color: var(--dark_blue);
}
.yellow_btn:hover{
	background-color: var(--dark_blue);
	color: #fff;
}
.white_btn{
	background-color: #fff;
	color: var(--dark_blue) !important;
}
.white_btn:hover{
	background-color: var(--dark_blue);
	color: #fff !important;
}

.button_wrapper{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-column-gap: 2.5rem;
	   -moz-column-gap: 2.5rem;
	        column-gap: 2.5rem;
}

.row:not(.no-gutters){
	margin-left: -2rem;
	margin-right: -2rem;
}
.row:not(.no-gutters)>div{
	padding-left: 2rem;
	padding-right: 2rem;
}

/*home area*/
.home_area{
	color: #fff;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
}
.home_area .container{
	min-height: 90rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
}
.home_area::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, #000000c4 100%);
    mix-blend-mode: multiply;
}
.home_area h1{
	font-size: 8rem;
	line-height: 1;
	text-shadow: 0.1rem 0.5rem 4rem rgba(0, 0, 0, 0.5);
	max-width: 89rem;
}
.home_area p{
	font-size: 2.5rem;
	margin: 1rem 0;
}
.home_area .button:hover{
	background-color: var(--dark_blue);
	color: #fff;
}

.feature_box{
	max-width: 58rem;
	position: absolute;
	bottom: 0;
	right: 1.5rem;
	background-color: #272727;
	color: var(--dark_blue);
	border-radius: 0.5rem 0.5rem 0 0;
	overflow: hidden;
}
.feature_title{
	background-color: var(--dark_blue);
	color: #fff;
	padding: 1rem 3rem;
}
.feature_title h3{
	font-size: 2.4rem;
}
.feature_body{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-column-gap: 3rem;
	   -moz-column-gap: 3rem;
	        column-gap: 3rem;
	padding: 0.5rem 3rem 3.5rem;
}
.feature_img{
	width: 22rem;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}
.feature_img img{
	width: 100%;
	border-radius: 0.5rem;
}
.feature_body h4{
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.1;
	margin-bottom: 1rem;
	color: #fff;
}
.feature_body p{
	line-height: 1.3;
	color: #fff;
	font-size: 1.9rem;
}
.feature_body .link{
	color: var(--dark_blue);
	margin-top: 2.4rem;
}
.feature_body .link:hover{
	color: #fff;
}

/*return-to-top START CSS*/
.back-to-top {
	font-size: 2.6rem;
	width: 5rem;
	height: 5rem;
	line-height: 5.2rem;
	text-align: center;
	display: none;
	position: fixed;
	bottom: 3.0rem;
	right: 2.0rem;
	border-radius: 50%;
	background: var(--yellow);
	z-index: 1000;
}

.back-to-top i {
	color: #fff;
}


.owl-dots {
	margin-top: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-column-gap: 1rem;
	   -moz-column-gap: 1rem;
	        column-gap: 1rem;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.owl-dots button{
	border: 0.1rem solid var(--dark_blue) !important;
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 50%;
	background-color: #fff;
	padding: 0.1rem;
	margin-top: 1rem;
}
.owl-dots button.active{
	background-color: var(--yellow);
}
.owl-nav button{
	padding: 0.4rem;
	background-color: #fff;
	color: var(--dark_blue);
	font-size: 3rem;
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	border: none;
	-webkit-box-shadow: 0.1rem 0.5rem 2.5rem rgba(0, 0, 0, 0.16);
	        box-shadow: 0.1rem 0.5rem 2.5rem rgba(0, 0, 0, 0.16);
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.owl-nav button:hover{
	color: var(--dark_blue);
	background-color: var(--yellow);
}
.owl-nav button.owl-prev{
	left: -10rem;
}

.owl-nav button.owl-next{
	right: -10rem;
}

/*footer*/
footer{
	padding: 6rem 0 11rem;
	background-color: #272727;
	color: #fff;
}
.footer_shape_wrap{
	position: relative;
	height: 14rem;
}
.footer_shape_wrap .footer_shape{
	width: 100rem;
	position: absolute;
	right: 0;
	top: 0;
}
footer a{
	color: #fff;
}
footer a:hover{
	color: var(--yellow);
}
.footer_item p{
	margin-top: 3rem;
}
footer ul{
	line-height: 2;
	margin-top: -0.5rem;
}
footer h3{
	color: var(--yellow);
	margin-bottom: 3rem;
}
.footer_logo{
	display: inline-block;
	width: 100%;
	max-width: 17rem;
}
.links ul li a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.links ul li a::before{
	content: '\f105';
	font-family: 'Font Awesome 5 Pro';
	margin-right: 0.8rem;
	position: relative;
	top: 0rem;
	display: inline-block;
}
.iba{
	width: 7.4rem;
	margin-top: 2.8rem;
}
.icon_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-column-gap: 3.5rem;
	   -moz-column-gap: 3.5rem;
	        column-gap: 3.5rem;
	font-size: 2.4rem;
}
.icon_box a{
	display: flex;
	align-items: center;
}
.icon_box a:hover{
	color: var(--yellow);
}

footer .icon_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	column-gap: 1.5rem;
	font-size: 2.4rem;
}
footer .icon_box a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.8rem;
	height: 4.8rem;
	background-color: var(--dark_blue);
	border-radius: 50%;
	color: #fff;
	font-size: 2.2rem;
	
}
footer .icon_box a:hover{
	background-color: var(--yellow);
	color: #fff;
}

/*inner pages*/
.inner_home{
	height: 40rem;
	background-size: cover;
	background-position: center;
}

.inner_home .slider_item h1{
	font-size: 8rem;
	min-height: 29rem;
}
.pagination{
	padding: 2.5rem 0;
	background-color: #A7AFD6;
}
.breadcrumb {
	margin-bottom: 0;
	list-style: none;
	border-radius: 0;
	background-color: transparent;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0;
}
.breadcrumb li,
.breadcrumb li a,
.breadcrumb-item.active{
	font-size: 1.6rem;
	color: var(--dark_blue);
	text-transform: uppercase;
}
.breadcrumb li a:hover{
	color: #fff;
}
.breadcrumb-item+.breadcrumb-item::before {
   color: #fff;
   font-weight: 500;
   margin-left: 0.8rem;
   padding-right: 0.8rem;
}
.social_link{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-column-gap: 1rem;
	   -moz-column-gap: 1rem;
	        column-gap: 1rem;
	margin-top: -2rem;
}
.social_link a{
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: var(--dark_blue);
	color: #fff;
	font-size: 2rem;
	border: 0.1rem solid #fff;
}
.social_link a:hover{
	background-color: var(--yellow);
	color: var(--dark_blue);
}
.inner_content{
	padding: 10rem 0;
}
.inner_content p{
	text-align: center;
	max-width: 116rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
}

/* opening_area */
.opening_area{
	padding: 5rem 0;
}
.heading p {
    color: #444;
    padding-top: 2.4rem;
    font-family: var(--common-font);
    text-transform: uppercase;
}
.opening-time img {
    border-radius: 50%;
    position: relative;
}
.opening-time {
    text-align: center;
    padding-top: 1.4rem;
    padding-bottom: 3.4rem;
    border: .1rem solid #4444;
    border-radius: 22.5rem;
    border-bottom-left-radius: 0;
    position: relative;
    overflow: hidden;
}
.opening-time:before {
    background-color: var(--dark_blue);
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 22.5rem;
    border-bottom-left-radius: 0;
	transition: .4s ease-in-out;
}
.opening-time-text {
    text-align: start;
    padding-left: 2.7rem;
    padding-top: 2.0rem;
    position: relative;
}
.opening-time-text h3 a{
    font-size: 2.8rem;
	color: var(--dark_blue);
}
.opening-time-text span {
    color: var(--yellow);
    font-weight: 900;
	font-size: 2.2rem;
} 
.opening-time-text h6 {
    padding-top: 1rem;
    padding-bottom: .6rem;
    font-weight: 700;
    font-size: 2.4rem;
	color: #444;
}
.islamic-classes-time > a {
    bottom: 8%;
    right: 8%;
    border-radius: 50%;
    position: absolute;
    background-color: var(--yellow);
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
	color: #fff;
	font-size: 2.5rem;
}
.islamic-classes-time:hover > a {
    right: 0%;
    opacity: 1;
}
.islamic-classes-time:hover .opening-time-text h3 a,
.islamic-classes-time:hover .opening-time-text h6,
.islamic-classes-time:hover .opening-time-text span {
    color: #fff;
}
.islamic-classes-time {
    position: relative;
}
.islamic-classes-time:hover .opening-time:before {
    height: 100%;
}


/* 33. hoverimg */
.hoverimg figure {
    position: relative;
}
.hoverimg figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.hoverimg:hover figure::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
figure {
    overflow: hidden;
}
.community img {
    border-radius: 14.6rem;
    border-bottom-left-radius: 0;
}
.community-text svg {
    width: 6.5rem;
    height: auto;
}
.community-text {
    display: flex;
    z-index: 111;
    position: relative;
}
.community-text i {
    background-color: var(--dark_blue);
    width: 11.0rem;
    height: 11.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: .4rem;
    transform: translatey(-6.0rem);
}
.community-text i img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
	width: 9rem;
}
.community:hover .community-text i img {
    -webkit-animation: top-bottom 1s ease-in-out;
    animation: top-bottom 1s ease-in-out;
}
@keyframes top-bottom {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-.8rem);
        -ms-transform: translateY(-.8rem);
        transform: translateY(-.8rem);
    }
    60% {
        -webkit-transform: translateY(-.4rem);
        -ms-transform: translateY(-.4rem);
        transform: translateY(-.4rem);
    }
}
.community-text a {
    font-size: 3.0rem;
    padding-top: 2.0rem;
    display: block;
	color: var(--dark_blue);
	font-weight: 600;
}
.community img {
    border-radius: 14.6rem;
    border-bottom-left-radius: 0;
}
.community-text p {
    width: 87%;
	color: #444;
	font-size: 2.2rem;
}
.community-text a:hover {
    color: var(--yellow);
}


/* selling_courses_area */

.selling_courses_area{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 10rem 0 5rem;
	background-color: rgb(250,248,243);
}
.course-block_two{
	position: relative;
}

.course-block_two-inner{
	position: relative;
	border-radius: .5rem;
	overflow: hidden;
	background-color: #fff;
	box-shadow: rgba(99, 99, 99, 0.2) .0rem .2rem .8rem .0rem;
}

.course-block_two-image{
	position: relative;
	background-color: var(--main-color);
}

.course-block_two-image img{
	position: relative;
	width: 100%;
	display: block;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.course-block_two-inner:hover .course-block_two-image img{
	opacity: 0.70;
	transform: scale(1.05,1.05) rotate(2deg);
}

.course-block_two-content{
	position: relative;
	padding: 4.0rem 4.0rem 3.0rem;
}

.course-block_two-study{
	position: absolute;
	left: 4.5rem;
	top: -2.7rem;
	font-weight: 600;
	padding: 1.2rem 2.5rem;
	text-align: center;
	border-radius: .5rem;
	display: inline-block;
	font-size: 2rem;
	color: #fff;
	background-color: var(--dark_blue);
}

.course-block_two-study:hover{
	color: #fff;
	background-color: var(--yellow);
}

.course-block_two-heading{
	position: relative;
	font-weight: 600;
	text-transform: capitalize;
	margin-top: 0.5rem;
}

.course-block_two-heading a{
	position: relative;
	color: #444;
	font-size: 3.5rem;
}

.course-block_two-heading a:hover{
	color: var(--main-color);
}

.course-block_two-list{
	position: relative;
	padding: 1.0rem .0rem;
	display: block;
	margin-top: 2rem;
	border-top: .1rem solid rgb(233,232,233);
	border-bottom: .1rem solid rgb(233,232,233);
}

.course-block_two-list li{
	position: relative;
	font-size: 2.0rem;
	line-height: 2.0rem;
	font-weight: 600;
	text-align: center;
	color: #444;
}

.course-block_two-list li span{
	position: relative;
	display: block;
	color: var(--main-color);
}

.course-block_two-lower{
	position: relative;
	border-radius: .5rem;
	margin-top: 2.5rem;
	background-color: rgb(232,241,237);
}

.course-block_two-author {
    position: relative;
    min-height: 6.7rem;
    font-size: 1.8rem;
    color: var(--main-color);
    margin-top: 1rem;
    margin-left: 1rem;
    padding-left: 7rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.course-block_two-author p{
	font-size: 2.1rem;
}
.course-block_two-author_image {
    position: absolute;
    left: .0rem;
    top: .0rem;
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border-radius: 50%;
}

.course-block_two-author strong {
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 2.1rem;
    color: #444;
}

.course-block_two-price{
	position: relative;
	font-weight: 700;
	border-radius: .5rem;
	padding: .8rem 1.5rem;
	text-align: center;
	display: inline-block;
	font-size: 2.2rem;
	color: #444;
	text-transform: capitalize;
	background-color: var(--yellow);
}

.course-block_two-price span{
	position: relative;
	display: block;
	font-size: 2.1rem;
	color: var(--main-color);
}

.course-block_two-icon{
	position: absolute;
	right: 2.5rem;
	top: 2.8rem;
}

/*===== Testimonials Sec =====*/
.reviews_area{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 7rem 0;
	position: relative;
	z-index: 1;
	background-attachment: fixed;
}
.reviews_area::before{
	content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
	background-color: #000;
	opacity: 0.7;
}
.testi-box{
	height: 100%;
}
.testi-desc {
	float: left;
	width: 100%;
	border-width: 3px 1px 1px;
	border-color: #fff;
	border-style: solid;
	position: relative;
	padding: 25px 30px;
	margin-bottom: 40px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  }
.testi-desc {
    border-top-color: var(--dark_blue);
}
.testi-desc p{
	color: #fff;
	font-size: 2.1rem;
}
.testi-desc:before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -18px;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 18px solid #fff;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.testi-desc:after {
	content: "";
	position: absolute;
	left: 50%;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 18px solid #fff;
	bottom: -16px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.text-img-bott{
	text-align: center;
}
.text-img-bott img{
	text-align: center;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	object-fit: cover;
}
.text-img-bott h3{
	margin-top: 1rem;
	color: #fff;
} 
.owl-carousel .owl-stage{
	padding: 2px;
}
.owl-carousel .owl-stage-outer{
	padding: 2px;
}

.slider1 .owl-stage{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}